.hero{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 1fr;
    gap: 20px;
    align-items: center;
    width: 100%;
}
.hero-content{
    display: flex;
    flex-direction: column;
    height:500px;
    justify-content: center;
    padding:20px;
    text-align:center;
    background-image: url("../../assets/blob-h.png");
    background-size: cover; /* Ensures it covers the div */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents repeating */
    width: 100%;
    
    overflow: hidden;
}

.hero-heading{
    display: block;
    font-family: fredoka;
    font-size: 50px;
    font-weight: 700;
    padding: 20px;
    padding-left: 60px;
}
.hero-desc{
    display: block;
    font-family: roboto;
    font-size: 25px;
    padding: 20px;
    padding-top: 10px;

}
.hero-button{
    display: block;
    font-size: 20px;
    padding: 10px;
    padding-left: 20px;
    font-family: roboto;
    font-weight: 400;
}
.hero-image{
    padding: 30px;
/*     
    background-color:aquamarine; */
    margin-right: 0;
    padding-right: 0;
    height: 500px;
    
}
.hero-img{
    width:100%;
    height: 100%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    margin:0;
    padding:0;
    object-fit: cover;
}
.home2{
    display: grid;
    grid-template-columns: 50% 50%;

    grid-template-rows: 1fr;
    align-items: center;
    width: 100%;
    font-family: nunito;
    margin-top: 60px;
    margin-bottom: 60px;
}
.home2-image{
    height: 400px;
}
.home2-img{
    width:100%;
    height: 100%;
    border-radius: 40px;
    
    object-fit: contain;
    
}
.home2-content{
    padding: 20px;
    width: 80%;
}
.home2-heading{
    font-size: 46px;
    color: #12265A;
    font-weight: 900 !important;
}
.home2-desc{
    color: #70747f;
    padding:20px;
    padding-left: 10px;
    line-height: 1.5;
    font-size: 18px;
}
.home3{
    gap: 0px;
}
.home3-img{
    width: 100%;
    height: 150px;
    display: block;

}
.home3-content{
    justify-items: center;
    font-family: nunito;
    background-color: #001b98;
    height: 500px;
    padding: 30px;
}
.home3-heading {
    font-size: 46px;
    color:white;
    font-weight: 900 !important;
    
}
.home3-desc{
    text-align: center;
    max-width: 700px;
    color: #70747f;
    line-height: 1.5;
}
.home3-items{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    margin: 20px;
    padding: 20px;
    gap: 40px;
    color:white;
    column-gap: 40px;
}
.home3-item{
    display:grid;
    grid-template-columns: 20% 80%;
}
.item-img{
    width: 50px;
    align-self:baseline;
    justify-self: center;
    padding-top: 10px;
}
.item-heading{
    font-family: nunito;
    font-size: 26px;
    font-weight: 800;
    padding-bottom: 10px;
}
.item-desc{
    color: #EDEDED;
    line-height: 1.5;
}
