.hero{
    height: 100vh;
    display: flex; 
    justify-content: center; 
    align-items: center;
    width: 100%;
    background-position-y: -120px;
    background-repeat: no-repeat;
    background-image: url("../../assets/IMG_4113.JPG");
    background-size: 100% 100%;
    margin: 0px;
    margin-bottom: -120px;
}
.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transform: translateY(-80px);
}
.hero-heading{
    color: white;
    text-align: center;
    font-size: 78px;
    font-family: nunito;
    font-weight: 800;
    word-spacing: 5px;
    padding: 20px;
    padding-bottom: 0px;
    max-width: 60%;
}
.hero-tag{
    color: white;
    text-align: center;
    font-size: 36px;
    font-family: nunito;
    padding: 20px;
    padding-top: 10px;
}
.hero-desc{
    color: white;
    max-width: 600px;
    font-size: 16px;
    font-family: nunito;
}
.hero-button{
    padding: 20px;
}
.button{
    padding: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    font-size: 20px;
    font-family: nunito;
    font-weight: 800;
    background-color: #FF8000;
    border: 0px;
    border-radius: 30px;
}
.home1{
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: 1fr;
    gap: 20px;
    align-items: center;
    width: 100%;
}
.home1-content{
    display: flex;
    flex-direction: column;
    height:400px;
    justify-content: center;
    padding:20px;
    padding-left: 100px;
    text-align:left;
    width: 100%;
    font-family: nunito;
}

.home1-heading{
    font-size: 46px;
    color: #12265A;
    font-weight: 900 !important;
}
.home1-desc{
    color: #70747f;
    padding:20px;
    max-width: 80%;
    padding-left: 10px;
    line-height: 1.5;
    font-size: 18px;

}
.home1-button{
    display: block;
    font-size: 20px;
    padding: 10px;
    padding-left: 20px;
    font-family: roboto;
    font-weight: 400;
}
.home1-image{
    padding: 30px;
    margin-right: 0;
    padding-right: 0;
    height: 500px;
    
}
.home1-img{
    width:100%;
    height: 100%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    margin:0;
    padding:0;
    object-fit: cover;
}

.home2{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    align-items: center;
    width: 100%;
    font-family: nunito;
    margin-top: 60px;
    margin-bottom: 60px;
}
.home2-image{
    height: 400px;
}
.home2-img{
    width:100%;
    height: 100%;
    border-radius: 40px;
    
    object-fit: contain;
    
}
.home2-content{
    padding: 20px;
    width: 80%;
}
.home2-heading{
    font-size: 46px;
    color: #12265A;
    font-weight: 900 !important;
}
.home2-desc{
    color: #70747f;
    padding:20px;
    padding-left: 10px;
    line-height: 1.5;
    font-size: 18px;
}
.home3{
    gap: 0px;
}
.home3-img{
    width: 100%;
    height: 150px;
    display: block;

}
.home3-content{
    justify-items: center;
    font-family: nunito;
    background-color: #001b98;
    height: 500px;
    padding: 30px;
}
.home3-heading {
    font-size: 46px;
    color:white;
    font-weight: 900 !important;
    
}
.home3-desc{
    text-align: center;
    max-width: 700px;
    color: #70747f;
    line-height: 1.5;
}
.home3-items{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    margin: 20px;
    padding: 20px;
    gap: 40px;
    color:white;
    column-gap: 40px;
}
.home3-item{
    display:grid;
    grid-template-columns: 20% 80%;
}
.item-img{
    width: 50px;
    align-self:baseline;
    justify-self: center;
    padding-top: 10px;
}
.item-heading{
    font-family: nunito;
    font-size: 26px;
    font-weight: 800;
    padding-bottom: 10px;
}
.item-desc{
    color: #EDEDED;
    line-height: 1.5;
}
