.navbarContainer {
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    /* Reduced padding for more compact layout */
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.logoSection {
    display: flex;
    align-items: center;
    padding-left: 50px;
    /* Reduced space between logo and menu */
}

.logo {
    width: 160px;
    height: 80px;
}

.menuSection {
    padding-left: 200px;
    display: flex;
    gap: 50px;
}

.menuSection a {
    text-decoration: none;
    color: black;
    transition: color 0.3s;
}

.menuSection a:hover {
    color: #3498db;
}

.activeLink {
    color: #3498db;
}

.socialIcons {
    display: flex;
    padding-left: 100px;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.icon {
    color: #333;
    font-size: 20px;
    transition: color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    transition: transform 0.3s, box-shadow 0.3s;
}
.icon:hover {
    transform: translateY(-5px);
}

.socialIcons a:nth-child(1) .icon:hover {
    color: #3b5998;
}

.socialIcons a:nth-child(2) .icon:hover {
    color: #E4405F;
}

.socialIcons a:nth-child(3) .icon:hover {
    color: #FF0000;
}

.navbar{
    display: block;
    font-family: "Roboto";
    font-weight: 100;
    font-size: 13px;
}