.review-section {
    text-align: center;
    padding: 50px 20px;
    margin-top: 10px;
}

.review-heading {
    font-size: 40px;
    color: #12265A;
    margin-bottom: 30px;
    font-weight: bold;
}

.review-carousel {
    width: 60%;
    margin: 0 auto;
}

.review-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-content {
    display: flex;
    align-items: center;
    text-align: left;
    padding: 20px;
    border-radius: 10px;
    max-width: 700px;
    gap: 10px;
}

.review-image {
    width: 130px;
    height: 160px;
    border-radius: 10px;
    margin-right: 20px;
    object-fit: cover;
}

.review-text-container {
    flex: 1;
}

.review-text {
    font-size: 18px;
    color: #666;
    max-width: 500px;
    margin-bottom: 10px;
    line-height: 30px;
}

.review-name {
    font-size: 22px;
    font-weight: bold;
    color: green;
    margin-top: 0px;
    margin-bottom: 5px;
}

.review-role {
    font-size: 16px;
    color: purple;
    margin-top: 0px;
}